#Configuration info
[ProjectInfo]
    Project = 0x226AF

[OemCommonCapbility]
    FlashFightSupport = true
    needReduceCaptureBuffer = true
    EnableVDMfllV4 = true

[FeatureCommon]
    ExifComment = oplus_
    SwitchSodTrack = true
    enablePortraitRepair = true
    enableChdr = true
    enable3AThreadPdBufThd = true
    disablePdInCshot = true
    enableCshotPreviewFps = true
    enableRandIce = true
    TempResolveStarMode = true
    enableHdr = true
    disableAiScene = true
    CreateSuperNightDecision = true
    enablePortraitBeauty = true
    enableHighResolution = true
    bypassMicrospurScene = true
    bypassNightspurScene = true
    enableWatermark = true
    yuvSRCustomIndex = true
    enableNightExifInfo = true
    enableSuperNightWithManualAe = true
    enableFdDetect = true
    enableSuperNightModeFace = true
    enable3rdCamAeTable = true
    enableTorchFlashCaptureWithMFLL = false
    enableSet3rdFDInfo = true
    enableBokehPorNeonWithHdr = true
    enableUseNewArcsoftToMTK = true
    enableSuperNightSnapshot = true
    enablePerfectColorV2 = true
    enable3rdFDInfoToMeta = true
    enableBokehFaceBeauty = false
    enableP2CaptureNode = true
    enableCaptureSkipAsd = true
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][com.android.mms] = 1;        270;
    SkipFrontPreviewFB = true
    enableAsd = true
    forceSkipStereoWarning = true
    enaleHdrResort = true

[PerformanceCommon]
    #LimitSuperCpu =  1; 4
    NeedSkipFd = 0x8001; 0x8009; 0x8011; 0x800B; 0x8026 # 0xF0FF(CapModeMask) To Force Enable
    OrmsSkipByCallerPackageNames = com.google.android.youtube
    EnableP1UX = true
    BoostCaptureTimeoutValue = -1
    VDDualCores = 2
    PortaitMfllCpuBits = 15
    EnableTPIUX = true
    EnableP1UX = true
    EnableN3DUX = true
    EnableOCCNUX = true
    SkipSnapShotImpPrf = true
    EnableAppStreamUX = true
    Enable3AThreadUX = true
    EnableP2StreamUX = true
    EnableDepthBindCPU = true
    EnableFeatureCommonUX = true
    Enablep2aUX = true
    EnablefpipeUX = true
    FaceblurCPUmask = 0x3F
    3AThreadPriority = -20
    FaceMaxFps = 26
    asyncLoadMultiYuvAlgo = true
    PortaitDropCache = true
    EnableForceToSmallCore = true

[ContinueShootImprove]
    Inimproveshot = true

[FeatureLsdConfig]
    LsdEnable = false
    NotlsdEnableBeauty = true

[FeaturePfConfig]
    DisableDenoiseFlag = true

[PerformanceSmartPoolSizeConfig]
    #key               DeviceMemSize(GB)        SmartPoolSize(MB)
    config[0]     =         4;                      64
    config[1]     =         6;                      128
    config[2]     =         8;                      256

[SunsceneDetect]
    enableSunsceneDetect = 1
    lv_thres = 150
    gravity_z_thr = -200
    sat_ratio_thres = 0.05
    sat_ratio_thres_touch = 0.15
    sat_ratio_thres_2x = 0.05
    sat_ratio_thres_5x = 0.05
    sat_ratio_thres_10x = 0.05

[TuningCommon]
    #AwbSkipFrame[m_u4SensorMode][m_eSensorDev] = SkipFrames
    AwbSkipFrame[3][1] = 3
    #ParamNvramIdx use MainSecond AwbParam
    MainSecondAwbParamNvramIdx = 6; 7; 8; 9
    Switch = true
    ResultIspSensorGain = true
    ZoomTouchAdjustEnable = true
    ZoomTouchThr = 150;450
    ZoomTouchAdjustThr = 25;10
    DistinguishZoomParamsFlag = true
    SwitchInfsfrTestCalibration = true
    InfsfrTest = 3
    SwitchUpdateFailPos = true
    InfSfrTestCalibrationDeviation = 40
    EnableSaveOtpData = true
    ZoomMinRoi = false
    EnableSkipFaceDetect = true
    SkipFaceRatio = 46
    SkipAfTrigger3rd = true

[FeatureOplusSuperEis] #done
    Switch = false
    Qcount = 30

[FeatureCustomConfig]
    GetLceGainEnale = true
    superNightFlag = true
    enbleFlashmfll = false
    video60fpsZoom = true
    isICEenable = true
    is3rdCamSwitch = true
    customSuperphotoZoom = true
    isStreetModeHdrEnale = true
    isNeedCustomIspprofile = true
    isFlashMfllLimit = true
    enbleLowRamMfllLimit = true
    luxIndexthd = 16

[FeatureAiVideoEnhance] #done
    SwitchOplusVhdr = true

[FeatureHfpsSupport]
    SwitchOplusHfps = true

[FeatureVideoNight] #done
    Switch = false

[OemCommonCapbility]
   needReduceCaptureBuffer = true

[OemCaptureBufferNumConfig]
    needReduceCaptureBufferNum = true

[TuningAeSceneMode]
    #                on(1)/off(0)    camId(-1 represents all sensors)
    Switch3rd[0]  =  1;              -1
    #           CapMode    SceneMode    camId(-1 represents all sensors)
    Mode[0] =   0x8009;     PARTY;      -1
    Mode[1] =   0x8007;     SPORTS;     -1
    Mode[2] =   0x80A3;     SPORTS;     -1
    Mode[3] =   0x80A4;     SPORTS;     -1
    Mode[4] =   0x802C;     SUNSET;     -1
    Mode[5] =   0x80A5;     SUNSET;     -1

[TuningUseCustomHDR10] #doing
    #           CapMode
    Mode[0] =   0x80A7  #StreamConfigCapModeVideoNight
    Mode[1] =   0x8028  #StreamConfigCapModeVideoSuperEis
    Mode[2] =   0x8009  #StreamConfigCapModeProfessional

[TuningSupernightMode] #done
    #           sensorId    handheld_ae_params[12]                                                         face_ae_params[12]                                                             tripod_ae_params[2]
    Mode[0]  =  0x5664;     100000; 100000;  80000;  60000; 40000; 30000; 200; 150; 150; 100; 100; 64;     100000; 100000;  80000;  60000; 40000; 30000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV64B_SENSOR_ID
    Mode[0]  =  0x564842;   160000; 160000; 140000; 140000;120000;100000; 200; 150; 150; 100; 100; 64;     160000; 160000; 140000; 140000;120000;100000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV48B_SENSOR_ID
    Mode[0]  =  0x563241;   120000; 120000; 120000; 100000; 80000; 60000; 200; 150; 150; 100; 100; 64;     120000; 120000; 120000; 100000; 80000; 60000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV32A_SENSOR_ID 
    Mode[1]  =  0x0846;     200000; 160000; 140000; 120000;100000;800000; 200; 150; 150; 100; 100; 64;     200000; 160000; 140000; 120000;100000;800000; 200; 150; 150; 100; 100; 64;     5000000; 16 # HI846_SENSOR_ID

[FpsGoGroupSetting] #done
    #                  index
    Mode[0] =  0;  0x02020000;   1;        0x02040100;  5;        0x02004100;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,5
    Mode[1] =  1;  0x00404100;   1176000;  0x03008200;  98;               -1;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,3
    Mode[2] =  3;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;  83;    -1;        -1; -1;        -1; -1;        -1   # 1,10
    Mode[3]=   3;  0x00414000;   1;        -1;          -1;       -1;           -1;   -1;        -1; -1;        -1; -1;        -1   # PERF_MODE

[FpsGoEnterCameraSetting] #done
    #                                     FpsGoGroup
    default[0]                         =     3

[FpsGoCustomFpsSetting] #done
    #Mode            remove_mode   fps      systemcamera   ceiling    loadAdjCnt
    #Mode[0]      =     0x8028;     -1;          1;            15;            3

[FpsGoNeonVideoSetting] #done
    #Mode            makeupState   ceiling    loadAdjCnt   FpsGoGroup
    #Mode[0]      =       1;          1;        6;          -1
    #Mode[1]      =       3;          1;        6;          -1


[FpsGoSysCameraSetting] #done
    #operation mode       operation_mode    fps    ceiling    loadAdjCnt  FpsGoGroup
    #Mode[0]         =     0x8028;           -1;       1;         3;        -1        #StreamConfigCapModeVideoSuperEis
    #Mode[1]         =     0x8001;           -1;       1;         5;        -1        #StreamConfigCapModeCommon

[FpsGoSpecialAppSetting]
    #                                       ceiling   loadAdjCnt  FpsGoGroup camera id    width    height
    com.snapchat.android[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.android.incallui[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.zhiliaoapp.musically[0]        =      1;         10;         -1;        -1;        -1;      -1
    com.facebook.katana[0]             =      1;         10;         -1;        -1;        -1;      -1
    com.whatsapp[0]                    =      1;         10;         -1;        -1;        -1;      -1
    com.instagram.android[0]           =      1;         10;         -1;        -1;        -1;      -1
    com.google.android.youtube[0]      =      1;         10;         -1;        -1;        -1;      -1
    com.eg.android.AlipayGphone[0]     =      1;         10;         -1;        -1;        1280;    -1
    com.smile.gifmaker[0]              =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mobileqq[0]            =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.ig[0]                  =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mm[0]                  =      1;         10;         -1;        -1;        1280;    -1

[FpsGoSpecialActivityApp]
    #                                                                       ceiling   loadAdjCnt FpsGoGroup camera id    width    height
    com.tencent.mm.plugin.scanner.ui.BaseScanUI[0]                      =      1;         11;        -1;       -1;       -1;      -1
    com.tencent.aelight.camera.aebase.QIMCameraCaptureActivity[0]       =      1;         12;        -1;       -1;       -1;      -1
    com.tencent.mm.plugin.voip.ui.VideoActivity[0]                      =      1;         13;        -1;       -1;       -1;      -1

[EnabledsdnHint] #done
    #operation mode       operation_mode    openId
    Mode[0]         =     0x8021;           -1

[SuperNightCaptureNoPreview]
    #operation mode     operation_mode     SENSOR_ID
    Mode[0]         =     0x8019;            0x0615

#[FeatureVideoFDPeriodConfig] #done
    #operation mode     operation_mode     value
    #Mode[0]         =     -1;               66   #default value
    #Mode[1]         =     0x8028;           100

[FeatureCloseColorSensorInfo] #done 20391 没有这个逻辑
    #           SensorDev
    SensorDev[0] =   0x02  #front camera
    SensorDev[1] =   0x08  #macro camera

[AIAWBfpsConfig] #done 无调用
    #operation mode     operation_mode     value
    Mode[0]         =     0x8028;           5   #StreamConfigCapModeVideoSuperEis

[AI3AForceOffConfig] #done 20391 没有这个逻辑
    #operation mode     operation_mode     is3rdCam
    Mode[0]         =     0x802C;           1   #StreamConfigCapModePIPScene

[AppMapFastLaunchRequestNum] #done
    client.pid              = 4
    vendor.client.pid[1]    = 4
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4

[OperationModeMapFastLaunchRequestNum] #done
    #operation mode       operation_mode    RequestNum
    #Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional
    Mode[1]         =     0x80a4;           0               #StreamConfigCapModeFilmVideoEis
    Mode[2]         =     0x80a3;           0               #StreamConfigCapModeFilmVideo

[ChangeFpsRangeWhenMakeup] #done
    #operation mode       operation_mode    fpsMin      fpsMax

[ChangeFpsRangeByName] #done
    # key  CallerPackageName or ActivityName                                openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2                                   =  1;           5;          24
    com.zipow.videobox.ConfActivityNormal                                     = -1;           5;          15
    com.imo.android.imoim                                                     = -1;           5;          24
    com.google.android.apps.tachyon.call.oneonone.ui.OneOnOneCallActivity     = -1;           5;          24

[OsenseOperationModeMap]
    #[openid][operationmode] osense action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    OSENSE_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

#[OsenseWechatVideoCallConfig] not need

[OsenseActivityNameConfigMap]
    # key  pkgName                                      osense action <=1280                osense action >1280
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER; OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsenseCallerPackageNameNameConfigMap]
    # key  pkgName                                      osense action <=1280                osense action >1280
    com.google.android.youtube                       =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER

[OsensePackageNameConfigMap]
    # key  pkgName                      osense action <=1280                osense action >1280
    com.facebook.katana         =  OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER;    OSENSE_ACTION_3RD_CAM_VIDEO_RECORDER
    com.google.android.youtube  =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    jp.naver.line.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mm              =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF;    OSENSE_ACTION_3RD_CAM_VIDEO_HIGHPERF

[OrmsOperationModeMap] #done
    #[openid][operationmode] orms action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    ORMS_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

[OrmsWechatVideoCallConfig] #doing
    packageName = com.tencent.mm
    #[openid][SMALL_WINDOW:1,FULL_WINDOW:0] orms action
    #!!!Attention:forbid end-line comments!!!
    Mode[-1][0] = ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsActivityNameConfigMap] #done
    # key  pkgName                                                        orms action <=1280                 orms action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.snap.mushroom.MainActivity                                    =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER; ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsCallerPackageNameNameConfigMap] #done
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.youtube                       =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsPackageNameConfigMap] #done
    # key  pkgName                      orms action <=1280                orms action >1280
    com.ss.android.ugc.aweme    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mm              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.microblink.photomath    =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.picsart.studio          =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    nic.goi.aarogyasetu         =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.kwai.video              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF

[DisEnabledFSC] #doing
    packageName[0]=com.google.android.youtube

[EepromDataStyle] #done
    RStyle = true
    defaultModule = false

[ModuleShowInfoMap] #done
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0x5664;         miami_ov64b;         0.91
    sensorIdx[1]  =      0xD126;         miami_sc800cs;       0.91
    sensorIdx[2]  =      0x2E0;          miami_gc02m1;        0.91
    sensorIdx[3]  =      0x885A;         miami_ov8856;        0.91
    sensorIdx[4]  =      0x002B;         miami_sp2507;        0.91

[SystemCamSensorSettingMap] #done
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video    imageRation   scenarioId
    Mode[0]  = 0x8021;         -1;          -1;           -1;           -1;         -1;          -1;       6    # CapMode60FpsVideo
    Mode[1]  = 0x8028;         -1;           0;           -1;           -1;         -1;          -1;       6    # CapModeVideoSuperEis
    Mode[2]  = 0x8028;         -1;           1;           -1;           -1;         -1;          -1;       4    # CapModeVideoSuperEis
    Mode[3]  = 0x80A7;         -1;           0;           -1;           -1;         -1;          -1;       6    # CapModeVideoNight
    Mode[4]  = 0x800B;         -1;          -1;           -1;           -1;         -1;          -1;       2    # CapModeCommonVideo
    Mode[5]  = 0x800C;         -1;          -1;           -1;           -1;         -1;          -1;       2    # CapModeFastVideo
    Mode[6]  = 0x8012;         -1;          -1;           -1;           -1;         -1;          -1;       2    # CapModeVideoPortait
    Mode[7]  = 0x80A3;         -1;          -1;           -1;           -1;         -1;          -1;       2    # CapModeFilmVideo
    Mode[8]  = 0x80A4;         -1;          -1;           -1;           -1;         -1;          -1;       2    # CapModeFilmVideoEis
    Mode[9]  = 0x8019;         -1;           0;           -1;         4624;         -1;          -1;       0    # CapModeSuperNight
    Mode[10] = 0x8019;         -1;           0;           -1;         4000;         -1;          -1;       8    # CapModeSuperNight
    Mode[11] = -1;             -1;           0;           -1;         4000;         -1;         750;       8    # others
    Mode[12] = -1;             -1;           0;           -1;         3840;         -1;          -1;       0    # others
    Mode[13] = -1;             -1;          -1;           -1;         3840;         -1;          -1;       4    # others
    Mode[14] = -1;             -1;          -1;           -1;           -1;          1;          -1;       0    # others



[ThirdCamSensorSettingMap] #done
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize   scenarioId
    com.whatsapp[0]                             =             0;           1;          -1;           -1;            -1;            -1;          2    #
    com.whatsapp[1]                             =            -1;           1;          -1;           -1;            -1;            -1;          4    #
    com.whatsapp[2]                             =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.snapchat.android[0]                     =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.facebook.orca[0]                        =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.android.cts.verifier[0]                 =             0;          -1;          -1;           -1;            -1;            -1;          1    #
    com.android.cts.verifier[1]                 =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    android.camera.cts[0]                       =             0;          -1;          -1;          570;            -1;            -1;          1    #
    android.camera.cts[1]                       =             1;          -1;          -1;           -1;            -1;          1280;          0    #
    android.camera.cts[2]                       =             1;          -1;          -1;          570;            -1;            -1;          0    #
    ru.yandex.searchplugin[0]                   =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.instagram.android[0]                    =             1;          -1;          -1;           -1;            -1;            -1;          2    #
    android[0]                                  =             1;          -1;          -1;           -1;            -1;            -1;          5    #
    AllCamApp[0]                                =             0;          -1;           1;           -1;            -1;            -1;          2    #
    #AllCamApp[0]                               =             0;          -1;          -1;           -1;            -1;            -1;          2    #
    AllCamApp[1]                                =             0;          -1;          -1;          570;            -1;            -1;          1    #
    AllCamApp[2]                                =             0;          -1;          -1;           -1;            -1;            -1;          2    #
    AllCamApp[3]                                =             1;          -1;          -1;           -1;            -1;          1280;          0    #
    AllCamApp[4]                                =             1;          -1;          -1;          570;            -1;            -1;          0    #
    AllCamApp[5]                                =             1;          -1;          -1;           -1;            -1;            -1;          2    #
    AllCamApp[6]                                =            -1;          -1;          -1;           -1;            -1;            -1;          0    #


[CommonSensorSettingMap] #done
    # key     CapMode       camId     scenarioId
    Mode[0] = 0x802A;          0;          0    #

[FeatureEISTypeMap] #done
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0] =           0x800B;            0;         0;             1;          0      #normal video rear
    Mode[1] =           0x800B;            1;         0;             0;          0      #normal video front
    Mode[2] =           0x800B;            0;         1;             0;          0      #4k video
    Mode[3] =           0x8021;            0;         0;             0;          0      #60fps video
    Mode[4] =           0x8028;            0;         0;             1;          0      #super eis
    Mode[5] =           0x802B;            1;         0;             1;          0      #super eis front
    Mode[6] =           0x80A4;            0;         0;             1;          0      #film video eis
    Mode[7] =           0x80A4;            2;         0;             1;          0      #film wide video eis
    Mode[8] =           0x80A7;            0;         0;             1;          0      #videonight rear
    Mode[9] =           0x80A7;            1;         2;             1;          0      #videonight front + eis
    Mode[10] =          0x802C;            0;         3;             1;          0      #PIP video rear master

[FeatureEISDebug] #done
    supportMTKEIS = true
    supportTPEIS = true
    forceEis60FPS = false

[FeatureDSDNConfig] #done
    operationMode = 0x8001;0x8026;0x8019;0x800B;0x8028;0x80A7;0x800C;0x802C;
    DSDNenable = 1

[FeatureSMVRConfig] #done
    isNeedDropFrame = 0
    dropNum = 6
    isNeedSetProfile = false

[FeatureFaceBeautyConfig] #done NULL
    BeautyShotDelay = 500
    LoadLibDuringInit = 0

[FeatureAiShutterConfig] #done NULL
    AisEnable          =             1
    #[openid][operationmode]    aishutter_enable
    Mode[0][0x8001]    =             1                  #REAR_StreamConfigCapModeCommon
    Mode[0][0x8004]    =             1                  #REAR_StreamConfigCapModeBeauty
    Mode[0][0x8005]    =             1                  #REAR_StreamConfigCapModeFilter
    Mode[0][0x8008]    =             1                  #REAR_StreamConfigCapModeSuperZoom
    Mode[1][0x8001]    =             1                  #FRONT_StreamConfigCapModeCommon
    Mode[1][0x8004]    =             1                  #FRONT_StreamConfigCapModeBeauty
    Mode[1][0x8005]    =             1                  #FRONT_StreamConfigCapModeFilter
    Mode[1][0x8008]    =             1                  #FRONT_StreamConfigCapModeSuperZoom

[Decide_need_custom_rmx]
    #packname              (1:No Need to distinguish  2:Need to distinguish)
    com.oplus.camera                = 1

[FeatureSystemCamRrzoConfig]
    #[isCalled][openId][operationMode][custom_tag]        width     height
    #Mode[0][0][0x8001][4] =                               1456;     1104;
    Mode[0][0][0x800B][1] =                               1920;     1088;
    Mode[0][0][0x8028][2] =                               2100;     1184;
    Mode[0][0][0x8007][7] =                               2560;     1920;

[FeatureThirdPartyCamRrzoConfig]
    #key pkgName[openId]                              width     height   base_resolution    comment(1:not_less_than, 2:upscale, 3:not_larger_than)
    com.whatsapp[0]                  =                1920;     1080;        0;                3;
    com.whatsapp[1]                  =                1920;     1080;        0;                3;

[systemCamMappingEAppCustom] #done 6885
    #key                                EAppCustom
    fastVideo                     =     0;
    commonVideo                   =     11;
    panorama                      =     10;
    superNight                    =     -1;
    TimeLapse                     =     16;
    professional                  =     7;
    portrait                      =     20;
    ai_shutter                    =     33;
    default                       =     -1;
    common                        =     -1;
    VideoHDR                      =     32;
    VideoSuperEis                 =     35;
    PIPScene                      =     34;

[noSuperNightMappingWithSensorId] #done 6885
    #key                                EAppCustom    sensorId    isCheckFaceBeauty
    no_supernight[0]              =     8;            0x0615;     1;
    no_supernight[1]              =     8;            0x0616;     1;
    no_supernight[2]              =     18;           0x5664;     0;
    no_supernight[3]              =     18;           0x0355;     0;

[thirdPartyCamMappingEAppCustom] #done 6885
    #key                                EAppCustom
    EApp_MTKCam                   =     0;
    android                       =     25;
    0                             =     19;
    com.tencent.mobileqq          =     3;
    com.tencent.mm                =     4;
    jp.naver.line.android         =     2;
    raxes.starlocator             =     2;
    com.android.cts.verifier      =     30;

[capModePIPSceneSpecialSize] #done
    #key                                width   height
    size[0]                       =     960;    1080;
    size[1]                       =     640;    720;
    size[2]                       =     480;    272;
    size[3]                       =     368;    368;
    size[4]                       =     320;    184;
    size[5]                       =     240;    240;
    size[6]                       =     640;    368;
    size[7]                       =     464;    464;
    size[8]                       =     432;    240;
    size[9]                       =     320;    320;

[oplusCheckStreamFrontCam] #done
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;
    config[1]                     =     9;         2304;    1728;

[camIdxMapType] #done
    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     1;        0;
    index[1]                     =     0x01;     0x01;           #SENSOR_DEV_MAIN-main
    index[2]                     =     0x02;     0x02;           #SENSOR_DEV_SUB-front
    index[3]                     =     0x04;     0x08;           #SENSOR_DEV_SUB_2-BackMacro
    index[4]                     =     0x08;     0x04;           #SENSOR_DEV_MAIN_2-wide

[subSensorName] #done
    #key                               substring
    subSensorList[0]              =    HI846;
    subSensorList[1]              =    GC8054;
    subSensorList[2]              =    IMX319;
    subSensorList[3]              =    OV48B;
    subSensorList[4]              =    OV64B;
    subSensorList[5]              =    IMX586;
    subSensorList[6]              =    S5KGW1;
    subSensorList[7]              =    OV16A;
    subSensorList[8]              =    S5K3M5;
    subSensorList[9]              =    bayerwide;
    subSensorList[10]             =    tricam;
    subSensorList[11]             =    IMX686;
    subSensorList[12]             =    S5KGW3;
    subSensorList[13]             =    S5KGM1ST;
    subSensorList[14]             =    OV8856;


[fullSensorName] #done
    #key                               fullstring
    fullstring                    =    SENSOR_DRVNAME_GM1ST_MIPI_RAW;

[sensorDataMap2AConfig] #done 6885
    #key             sensorId    af-flag  inf    100cm   50cm   mac    skip-4000k  H-U    H-G    M-U    M-G    L-U    L-G     startAddr  dataLength
    index[0]    =    0x5664;     1;       0x94;  0x94;   0x90;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[1]    =    0x0766;     1;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[2]    =    0x0616;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[3]    =    0x0615;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[4]    =    0xf615;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[5]    =    0x0319;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x1500;    3441;
    index[6]    =    0x0355;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x0CA0;    3441;
    index[7]    =    0xf355;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x0CA0;    3441;
    index[8]    =    0x002B;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0E;  0x16;  0x0E;  0x16;  0x3A;  0x42;   0;         0;
    index[9]    =    0x0683;     1;       0x94;  0x98;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[10]   =    0x20001;    0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[11]   =    0x0847;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0x0CA0;    3441;
    index[12]   =    0x002C;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0E;  0x16;  0x24;  0x2C;  0x3A;  0x42;   0;         0;

[FeatureMsnrConfig]                      value #done
    com.facebook.katana              =     1;
    com.instagram.android            =     1;
    com.whatsapp                     =     1;
    com.facebook.orca                =     1;
    jp.naver.line.android            =     1;
    com.snapchat.android             =     1;
    com.jstudio.sweetselfiecam       =     1;

[CustomBokehMSGParam]
    bkMsgSwitch = true;
    #key               FaceWidthMax    FaceWidthMin    FocusDistanceMax    FocusDistanceMin    lvMaxThres    lvMinThres    lvSumThres    ISOThres
    CustomBkMsgValue = 2400;           250;            2000.0;             350.0;              45;           -45;          20;           4000;


[FeatureAISLLSCaptureSetting]
    SwitchAISLLSCaptureSetting = true;
    bUseAisWithoutMfll = true;

[IceSeedarkCaptureSetting]
    #[openid][operationmode]   minL1ShutterTimeThres   maxL1ShutterTimeThres   minL1RealIsoThres   minL2ShutterTimeThres  maxL2RealIsoThres  seedarkThres
    Mode[0][0x8001]          = 9000;                   41000;                  3000;               26000;                 29000;             22000
    Mode[0][0x80a9]          = 9000;                   41000;                  3000;               26000;                 29000;             22000

[FeatureDualBokehPreviewConfig]
    IsNeedSkipForLowMem = true
    SkipFrameNumberForLowmem = 30
    CustomEnableRtbFlag = true

[FeatureAsyncConfig]
    IsDisableASD = true
    ExpectMS = 66

[FeatureBokehShileldConfig]
    IsDisableBokehShileld = true

[FeatureAfterSale]
    NeedAfterSale = true

[InitializeRequestMeta]
    Isrequestmeta = true

[FeatureForCameraSwitch]
    cameraSwitchBoost = true

[CamPerflist]
     #scene        operationmode     width0        width1        cameraid      behavior    increasetime       action
     scene[0]    =       -1;           -1;           -1;            -1;          open;        3000;       OSENSE_ACTION_CAMERA_OPEN
     scene[2]    =       -1;           -1;           -1;            -1;          close;       2000;       OSENSE_ACTION_CAMERA_CLOSE

[FeatureMfnrConfig]
    CheckMtkMfnr  = true;
    MfnrFlashEnable = true;
    MfnrSwitchRemosaic = true;
    EnableSuperNightMfnr = true;

[NeonParam]
    LightSpotStrength = 200
    TrigerLightSpotBright = 5
    BlurIntensity = 85
    ShineThres = 5
    ShineLevel = 1

[GetRealTimeYUVHistEnable]
    RealTimeYUVHistFlag = true
    YUVHistScaleValue = 2
    AssistHDRDetectionFlag = true
    HDRTriggerRatio = 666.5
    CHDRTriggerRatio = 6.5
    # trigger           luxindex1        luxindex2        luxindex3        luxindex4        overexp1          overexp2        overexp3        overexp4        underexp1        underexp2        underexp3        underexp4
    HDRTrigger    =       0.010;           0.400;           0.800;           1.200;          0.00175;          0.002125;        0.0025;        0.002875;        1.0;             1.0;             1.0;             1.0;
    CHDRTrigger   =       0.010;           0.400;           0.800;           1.200;          0.00175;          0.002125;        0.0025;        0.002875;        1.0;             1.0;             1.0;             1.0;
    # trigger           luxindex1        luxindex2        luxindex3        luxindex4        overexpratio1        overexpratio2        overexpratio3        overexpratio4        underexpratio1        underexpratio2        underexpratio3        underexpratio4
    StatsThd      =       380.0;          420.0;           450.0;           538.0;             0.015;                0.20;                 0.02;                1.20;                0.025;                  0.20;               0.03;                  1.20;